<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MIBCleanPatterns</key>
	<array>
		<dict>
			<key>pattern</key>
			<string>.svn;CVS;.git</string>
		</dict>
		<dict>
			<key>pattern</key>
			<string>*.o</string>
		</dict>
	</array>
	<key>MIBDebugLevel</key>
	<integer>2</integer>
	<key>MIBPostNotifications</key>
	<true/>
	<key>MIBSuggestPasswords</key>
	<true/>
	<key>MIBDirectExtractByDefault</key>
	<false/>
	<key>MIBFavorites</key>
	<array>
		<string>~/Downloads</string>
	</array>
	<key>MIBPackagesExpandable</key>
	<false/>
	<key>MIBRar</key>
	<string></string>
	<key>MIBRegCode</key>
	<string></string>
	<key>MIBServicePresetExtract</key>
	<integer>0</integer>
	<key>MIBServicePresetSave</key>
	<integer>0</integer>
	<key>MIBShouldTerminateAfterLastWindowClosed2</key>
	<false/>
	<key>MIBShowHiddenItems</key>
	<false/>
	<key>MIBStartWithEmptyDocument</key>
	<true/>
	<key>MIBTempFolderName</key>
	<string>BetterZip Temporary Folder</string>
	<key>MIBUseHardLinks</key>
	<true/>
	<key>MIBViewingApplication</key>
	<string>Finder</string>
	<key>MIBViewMode</key>
	<integer>2</integer>
	<key>MIBWarnCleanPatterns</key>
	<false/>
	<key>MIBWarnSave</key>
	<false/>
	<key>MIBZoom</key>
	<integer>0</integer>
	<key>MIBCutOffExtensionFromSaveNames</key>
	<false/>
	<key>MIBCutOffNumbersFromSaveNames</key>
	<false/>
	<key>MIBArchiveExtensionsBlacklist</key>
	<string>pptx,docx,xlsx,numbers,pages,pdf,swf</string>
	<key>MIBConcurrentOperations</key>
	<integer>4</integer>
	<key>MIBSavePresets</key>
	<array>
		<dict>
			<key>isService</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>additionalParams</key>
			<string></string>
			<key>shortName</key>
			<string>Zip/Clean</string>
			<key>favorite</key>
			<true/>
			<key>cleanPattern</key>
			<string>*/.svn;*/CVS;*/.git</string>
			<key>imageTint</key>
			<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAIMivxc/g5JvDT0Bhg==</data>
			<key>isToolbar</key>
			<true/>
			<key>format</key>
			<integer>0</integer>
			<key>encryption</key>
			<integer>0</integer>
			<key>name</key>
			<string>Clean and Zip</string>
			<key>compression</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>folder</key>
			<string>2</string>
			<key>format</key>
			<integer>0</integer>
			<key>shortName</key>
			<string>Save for PC</string>
			<key>mode</key>
			<true/>
			<key>favorite</key>
			<true/>
			<key>imageTint</key>
			<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgztnMD2DeggmPoP62X0/AYY=</data>
			<key>name</key>
			<string>Save for PC</string>
			<key>compression</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>~/Desktop</string>
			<key>additionalParams</key>
			<string>-ms=100f10m</string>
			<key>shortName</key>
			<string>Solid 7z</string>
			<key>volumeUnit</key>
			<integer>1</integer>
			<key>imageTint</key>
			<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAIMy5g4/g9r4OT8Bhg==</data>
			<key>volumeSize</key>
			<string></string>
			<key>password</key>
			<string></string>
			<key>format</key>
			<integer>4</integer>
			<key>encryption</key>
			<integer>2</integer>
			<key>name</key>
			<string>Save as Solid 7z, Ask for Password</string>
			<key>compression</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>shortName</key>
			<string>Split for DVD</string>
			<key>volumeUnit</key>
			<integer>1</integer>
			<key>imageTint</key>
			<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQCDgP9APQGG</data>
			<key>volumeSize</key>
			<string>4695</string>
			<key>password</key>
			<string></string>
			<key>format</key>
			<integer>4</integer>
			<key>encryption</key>
			<integer>0</integer>
			<key>name</key>
			<string>Compress and Split for DVD (7z)</string>
			<key>compression</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>shortName</key>
			<string>Zip ind.</string>
			<key>volumeUnit</key>
			<integer>1</integer>
			<key>imageTint</key>
			<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg+w9/j6DIgEkPoNEoz0/AYY=</data>
			<key>individual</key>
			<true/>
			<key>password</key>
			<string></string>
			<key>contentsOnly</key>
			<true/>
			<key>format</key>
			<integer>0</integer>
			<key>encryption</key>
			<integer>0</integer>
			<key>name</key>
			<string>Zip Contents Individually</string>
			<key>compression</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>MIBExtractPresets</key>
	<array>
		<dict>
			<key>folder</key>
			<string>1</string>
			<key>openExtracted</key>
			<false/>
			<key>shortName</key>
			<string>Ex&amp;Trash</string>
			<key>isService</key>
			<true/>
			<key>favorite</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>4</string>
			<key>isToolbar</key>
			<true/>
			<key>imageTint</key>
			<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAIMivxc/g5JvDT0Bhg==</data>
			<key>name</key>
			<string>Extract &amp; Trash</string>
			<key>overwriteWithoutWarning</key>
			<false/>
		</dict>
		<dict>
			<key>folder</key>
			<string>1</string>
			<key>openExtracted</key>
			<false/>
			<key>shortName</key>
			<string>Ex/Clean</string>
			<key>favorite</key>
			<true/>
			<key>cleanPattern</key>
			<string>*/.svn;*/CVS;*/.git</string>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>imageTint</key>
			<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQCDgP9APQGG</data>
			<key>name</key>
			<string>Extract with Cleaning</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>~/Applications</string>
			<key>openExtracted</key>
			<false/>
			<key>reveal</key>
			<true/>
			<key>favorite</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>name</key>
			<string>Install App for User and Show in Finder</string>
		</dict>
	</array>
</dict>
</plist>
